input[type="checkbox"] {
    margin-right: 10px;
}

.products-section {
    padding: 40px;
}

.sidebar > h5 {
    color: #3498DB;
    margin-bottom: 20px;
}

.list-group {
    margin-bottom: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#productPageNav {
    position: sticky;
    bottom: 20px;
}